main{
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #e2e2e2, #7878fa);
  height: 100vh;
  justify-content: center;
  padding-right: 150px;

  .formulario{
    max-height:450px;
    width: 45%;
    padding: 20px;
    max-width: 900px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    h2{
      color: #333;
      text-decoration: none;
      height: 70px;
      display: flex;
      padding-left: 60px;
      font-weight: bold;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

  .labels {
    display: flex;
    flex-direction: column;

    label {
      display: block;
      font-weight: bold;
    }

    input{

      width: 40%;
      padding: 5px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      }
    }
    display: flex;
    flex-direction: column;
    text-align: start;

  font-size: 20px;
    padding-bottom: 30px;

  }

  button {
    width: 40%;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px 0;
    border: none;
    color: white;
    background-color: rgb(78, 78, 226);
  }

  button:hover {
    background: #0056b3;
  }


  .mensagem__erro {
    position: relative;
    top: -15px;
    color: red;
    font-size: 10px;
  }

  .toglle {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 370px;
    background-color: rgb(100, 100, 226);
    width: 28%;
    border-radius: 150px 30px 30px 150px;
    box-shadow: 0 4px 20px #000000e6;
  }

  h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: 26px;
    font-weight: bold;

  }

  .lado-direito{
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;

    .pergunta{
      color: #fff;
      position: relative;
      max-height: 0.3rem;
      padding-left: 2px;
      padding-top: 10px;
    }

    .cadastro{
      width: 190px;
      border-radius: 15px;
      margin-top: 20px;
      padding: 5px 0;
      border: none;
      color: white;
      background-color: #4e4ee2;
    }

    .cadastro:hover{
      background-color: #0056b3;
    }
  }
}




