<main>
  <div class="formulario">
    <h2>Cadastrar usuário</h2>
    <form>
      <div class="labels">
        <label for="">Nome completo</label>
        <input type="text" name="nomeCompleto" id="nomeCompleto" formControlName="email">
      </div>
      <div class="labels">
        <label for="">Usuário</label>
        <input type="usuario" name="usuario" id="usuario" formControlName="email">
      </div>
      <div class="labels">
        <label for="">Email</label>
        <input type="email" name="email" id="email" formControlName="email">
      </div>
      <div class="labels">
        <label for="">Senha</label>
        <input type="password" name="password" id="password" formControlName="senha">
      </div>
      <button>Entrar</button>
    </form>
  </div>
</main>
