section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;

  .info {
    margin: 180px;
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    text-align: center;

    h2{
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .botao {
    padding: 10px 15px;
    border-radius: 8px;
    background-color: rgb(78, 78, 226);
    color: white;
    border: none;
  }
  .botao:hover{
    background-color: #0056b3;
    color: white;
  }
  .listagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
  }

  .tela-listagem {

    background-color: white;
    position: absolute;
    top: 20rem;
    width: 64%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    padding: 40px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }


  table {

    width: 70%;

    th, td{
      font-size: 16px;
      padding: 10px 0;
      text-align: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    }

    .icon {
      padding: 20px;
      display: flex;
      justify-content: center;
      gap: 30px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

      img {
        min-height: 23px;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

