form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .inputs {
    display: flex;
    flex-direction: column;
  }

  .botao {
    display: flex;
    gap: 10px;


    button {
      padding: 10px 5px;
      background-color: rgb(78, 78, 226);
      color: white;
      border: none;
      border-radius: 8px;
    }
  }

  .mensagem__erro {
    color: red;
    font-size: 12px;
  }
}
