section{

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding-top: 20px;
  height: 100vh;
  justify-content: center;

  form {
    width: 90%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;


    .inputs {
      display: flex;
      flex-direction: column;

      label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
      }

      input{
        width: 100%;
        padding: 5px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .botao {
      display: flex;
      padding: 20px 0;
      gap: 20px;


      button {
        width: 95%;
        padding: 8px 0;
        background-color: rgb(78, 78, 226);
        color: white;
        border: none;
        border-radius: 8px;
      }

      button:hover {
        background: #0056b3;
      }
    }

    .mensagem__erro {
      color: red;
      font-size: 12px;
    }
  }
}
